<h1>Confira o Preço das Moedas em Reais</h1>

<section>
    <ng-container *ngIf="moedas">
        <ng-container *ngFor="let moeda of moedas">
            <div>
                <h2>{{moeda.nome}}</h2>
                <p>Compra: <strong>{{formatter.format(moeda.compra)}}</strong></p>
                <p>Venda: <strong>{{formatter.format(moeda.venda)}}</strong></p>
                <p>Variação no dia: <strong>{{moeda.variacao}}%</strong></p>
                <p>Menor valor: <strong>{{formatter.format(moeda.menorvalor)}}</strong></p>
                <p>Maior valor: <strong>{{formatter.format(moeda.maiorvalor)}}</strong></p>
                <p>Última atualização: <strong>{{moeda.ultimaatualizacao.toLocaleTimeString()}}</strong></p>
                <p><strong>{{moeda.ultimaatualizacao.toLocaleDateString()}}</strong></p>
            </div>
        </ng-container>
    </ng-container>
</section>

<a routerLink="mais-sobre">Veja mais sobre o Câmbio Preço</a>