main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    font-size: 1.3rem;
    width: 100%;
    border-bottom: solid 1px #ccc;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    box-sizing: border-box;
}