<main>
  <header>Câmbio Preço</header>

  <h1>Confira o Preço das Moedas em Real</h1>

  <section>
    <ng-container>
      <div>
        <h2>Dolar</h2>
        <p>Compra: <strong>{{formatter.format(dolar.compra)}}</strong></p>
        <p>Venda: <strong>{{formatter.format(dolar.venda)}}</strong></p>
        <p>Variação no dia: <strong>{{dolar.variacao}}%</strong></p>
        <p>Menor valor: <strong>{{formatter.format(dolar.menorvalor)}}</strong></p>
        <p>Maior valor: <strong>{{formatter.format(dolar.maiorvalor)}}</strong></p>
        <p>Última atualização: <strong>{{dolar.ultimaatualizacao.toLocaleTimeString()}}</strong></p>
      </div>
    </ng-container>
    <ng-container>
      <div>
        <h2>Euro</h2>
        <p>Compra: <strong>{{formatter.format(euro.compra)}}</strong></p>
        <p>Venda: <strong>{{formatter.format(euro.venda)}}</strong></p>
        <p>Variação no dia: <strong>{{euro.variacao}}%</strong></p>
        <p>Menor valor: <strong>{{formatter.format(euro.menorvalor)}}</strong></p>
        <p>Maior valor: <strong>{{formatter.format(euro.maiorvalor)}}</strong></p>
        <p>Última atualização: <strong>{{euro.ultimaatualizacao.toLocaleTimeString()}}</strong></p>
      </div>
    </ng-container><ng-container>
      <div>
        <h2>Libra Esterlina</h2>
        <p>Compra: <strong>{{formatter.format(libra.compra)}}</strong></p>
        <p>Venda: <strong>{{formatter.format(libra.venda)}}</strong></p>
        <p>Variação no dia: <strong>{{libra.variacao}}%</strong></p>
        <p>Menor valor: <strong>{{formatter.format(libra.menorvalor)}}</strong></p>
        <p>Maior valor: <strong>{{formatter.format(libra.maiorvalor)}}</strong></p>
        <p>Última atualização: <strong>{{libra.ultimaatualizacao.toLocaleTimeString()}}</strong></p>
      </div>
    </ng-container><ng-container>
      <div>
        <h2>Iene</h2>
        <p>Compra: <strong>{{formatter.format(iene.compra)}}</strong></p>
        <p>Venda: <strong>{{formatter.format(iene.venda)}}</strong></p>
        <p>Variação no dia: <strong>{{iene.variacao}}%</strong></p>
        <p>Menor valor: <strong>{{formatter.format(iene.menorvalor)}}</strong></p>
        <p>Maior valor: <strong>{{formatter.format(iene.maiorvalor)}}</strong></p>
        <p>Última atualização: <strong>{{iene.ultimaatualizacao.toLocaleTimeString()}}</strong></p>
      </div>
    </ng-container>
  </section>

</main>